 

<div class="container">
  
    <div class="card2">
    <div  class="topclass"   style="width: 100%;">
      <div style="margin-top: 60px;"><h2 style="height: 10px;font-weight: bold;color: brown;">PREVIOUS CLAIMS:</h2></div>
     <div style="margin-top: 30px; margin-right:15px ;"> <button id="new-claim-btn" routerLink="/new-claim"><i class="fa fa-credit-card"></i>New  Claim</button></div>
    </div>    
     <hr> 

    <div class="claim-status">

      <table class="table">
        <thead class="thead-light">
          <tr >
              <th scope="col"  style="background-color: brown; font-weight: bold;color: black;" >Id</th>
              <th scope="col" style="background-color: brown; font-weight: bold;color: black;" >CLAIM NO:</th>
              <th scope="col" style="background-color: brown; font-weight: bold;color: black;" >DESCRIPTION</th>
              <th scope="col" style="background-color: brown; font-weight: bold;color: black;"  >STATUS</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>CLM2024-01</td>
            <td>Minor Injury at home while coming down the stairs of my apartment. Total hospital bill 100,000</td>
            <td>Reimburded</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>CLM2024-04</td>
            <td>Specialist visistation</td>
            <td>Declined</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>CLM2024-05</td>
            <td>Malaria diagnosis at Equity Afya Embakasi. Total bill amount of 3000</td>
            <td>Reimbursed</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
</div>