 
<div class="container">
<form>
  <div class="form-group">
    <label style="color: #a32a29;margin-left: 280px;font-size: 20px;"><b>BOOK CLAIM:</b></label>
  </div>
  <div class="GEN">
    <div class="form-group">
      <label>Insurance Type:</label>
      <select class="form-control" id="exampleFormControlSelect1" style="width: 250px;margin-left: 30px;border-radius: 12px;">
        <option value="">Select Policy</option>
        <option>Policy No:016761257</option>
        <option>Policy No:01676128</option>
        <option>Policy No:016761259</option>
        <option>Policy No:016761260</option>
      </select>
    
      <label>Date of Incident</label>
      <input type="date" class="form-control">
    </div>

    <div class="form-group">
      <label>Location of Incident</label>
      <input type="text" class="form-control">

      <label>Time Of Incident</label>
      <input type="time" class="form-control">
    </div>
    

    </div>
  <div class="form-group">
    <label>Estimated Damage</label>
    <input type="number" class="form-control">
  </div>
    <div class="form-group"   >
      <label>Description of Incident</label>
      <textarea class="form-control"  style="width: 520px;"></textarea>
    </div>
   
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description of Loss</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  style="width: 520px;"></textarea>
    </div>
    <button type="button" class="btn btn-secondary btn-sm" style="background-color: #a32a29;margin-left: 280px;width: 150px;border-radius: 12px ; margin-bottom:10px ;">Submit</button>
 </form>
</div>
