 

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Product Selection</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="productInput">Choose a product:</label>
              <input type="text" class="form-control" id="productInput" list="productList" placeholder="Enter or select a product" style="border-radius: 8px; width: 300px;">
              
              <datalist id="productList">
                <option value="Third Party"></option>
                <option value="Domestic Cover"></option>
                <option value="Personal Cover"></option>
              </datalist>
            </div>
            <button type="button" class="btn btn-primary" routerLink="/form">Get Quote</button>
          </div>
        </div>
      </div>
</div>
</div>
