
.container{
    background-color: rgb(238, 235, 235);
    margin-top: 100px;
    margin-left: 18%;
    width: 1100px;
    height: 400px;
    border-radius: 12px;
}

h2{
    color: rgb(216, 197, 88);
    margin-left: 20px;
    padding-top: 20px;
    font-weight: bold;
}


.btn-group{
    margin-left: 5%;
    width: 200px;
}

.Table-main{
    margin-top: 3%;
}

select{
    width: 250px;
    margin-left: 10%;
    height: 38px;
    border-radius: 10px;
}