 
<div class="container">

<h2>Transactions</h2>


<hr class="border border-danger border-2 opacity-50">

<select >
    <option value="" style="color: grey;">Premium Payment</option>
    <option value=" ">GADH22BDSD</option>
  </select>

  <div class="Table-main" style="max-width: 1200px;">
    <div class="row justify-content-center">
      
            <div style="overflow-x: auto;">
                <table class="table table-striped" style="margin-bottom: 0;">
                    <thead class="thead-grey">
                        <tr>
                            <th scope="col" style="border: 1px solid #dee2e6;">Policy Number</th>
                            <th scope="col" style="border: 1px solid #dee2e6;">Transaction Ref</th>
                            <th scope="col" style="border: 1px solid #dee2e6;">Transaction Date</th>
                            <th scope="col" style="border: 1px solid #dee2e6;">Transaction Type</th>
                            <th scope="col" style="border: 1px solid #dee2e6;">Amount</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td scope="col" style="border: 1px solid #dee2e6;">KDPP/002/2024</td>
                            <td scope="col" style="border: 1px solid #dee2e6;">GADH22BDSD</td>
                            <td scope="col" style="border: 1px solid #dee2e6;">29/04/2024</td>
                            <td scope="col" style="border: 1px solid #dee2e6;">DOMESTIC</td>
                            <td scope="col" style="border: 1px solid #dee2e6;">1500</td>
                           
                    </tr>
                </tbody>
            </table>
        </div>
   
</div>
</div>

</div>
