 



<body class="sb-nav-fixed">
     
    <div id="layoutSidenav">
         
        <div id="layoutSidenav_content">
            <main style="margin-bottom: 80px;">
                <div class="container">
                    <div class="top bg-white">

                        <h3 class="text-center">Hi Ismael KIM,</h3>
                  
                        <h5 class="text-center">Welcome to Equity Bancassurance Self service portal</h5>
                  
                    </div> <br>
                    <h3 style="color: black;font-weight: 500;margin-left: 5%;">My Portfolio</h3>
                    <br> <br>
                    
                    <div style="display: flex;justify-content: space-between;">
                        
                            <div class="card" style="background-color:#a32a29; ">

                                <div class="btn-dash">
                                    <button type="button" class="btn text-white"
                                        style="background-color: rgb(136, 125, 65);">Active</button>
                                </div>
                      
                                <div class="h2.s">
                                    <h6 class="text-white">ENDOWMENT ASSURANCE <br>
                                        WITH PROFITS (TermBased) <br> <br>
                                        Policy No:016761256 <br>
                                        Sum Assured; KES 345453 <br><br>
                                        Premium:KES 5000 <br>
                                        Period From: 16/04/2024
                                    </h6>
                                    <button type="button" class="btn btn-secondary  "
                                        style="background-color: rgb(136, 125, 65);">Make Payment</button>
                                </div>
                      
                            </div>
                        
                    
                            <div class="card" style="background-color:#a32a29; ">

                                <div class="btn-dash">
                                    <button type="button" class="btn text-white"
                                        style="background-color: rgb(136, 125, 65);">Active</button>
                                </div>
                      
                                <div class="h2.s" >
                                    <h6 class="text-white">ENDOWMENT ASSURANCE <br>
                                        WITH PROFITS (TermBased) <br> <br>
                                        Policy No:016761256 <br>
                                        Sum Assured; KES 345453 <br><br>
                                        Premium:KES 5000 <br>
                                        Period From: 16/04/2024
                                    </h6>
                                    <button type="button" class="btn btn-secondary  "
                                        style="background-color: rgb(136, 125, 65);">Make Payment</button>
                                </div>
                      
                            </div>
                        
                         
                    </div>
                     
                    
                </div>

                <div class="container2" >


                    <div class="make=bg-black" style="margin-top: 10px;">
                      <h4 style="color: black;font-weight: 500;margin-left: 18px;">I want to:</h4>
                  
                      <button type="button" class="btn btn-primary bg-blue" routerLink="/quote" >
                        <i class="fa fa-money" aria-hidden="true"></i>
                        Buy a policy</button><br> <br>
                  
                      <button type="button" class="btn btn-danger bg-green text-blue" routerLink="/new-claim" >
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        Make a claim</button><br> <br>
                  
                      <button type="button" class="btn btn-primary" style="background-color:rgb(136, 125, 65);">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        Make payment</button>
                    </div>
                  </div>

             
            </main>
            